<h2><%= "Contestants:" %></h2>

  <% @contestants.each do |contestant| %>
    <p><strong>Name: <%= link_to contestant.name, bachelorette_contestant_path(:bachelorette_id, contestant.id) %>, Age: <%= contestant.age %>, Hometown: <%= contestant.hometown %></strong></p>
  <% end %>
